@import url(~sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

:root {
  --size-sm: clamp(0.6rem, 0.53vw + 0.47rem, 0.89rem);
  --size-base: clamp(0.75rem, 0.8vw + 0.55rem, 1.19rem);
  --size-md: clamp(0.94rem, 1.17vw + 0.64rem, 1.58rem);
  --size-lg: clamp(1.17rem, 1.71vw + 0.75rem, 2.11rem);
  --size-xl: clamp(1.46rem, 2.45vw + 0.85rem, 2.81rem);
  --size-xxl: clamp(1.83rem, 3.49vw + 0.96rem, 3.75rem);
  --size-xxxl: clamp(2.29rem, 4.93vw + 1.06rem, 5rem);
  --size-massive: clamp(7.25rem, 8.82vw + 5.04rem, 12.1rem);

  --ff-main: 'Roboto', sans-serif;

  --col-text: rgba(255, 251, 251, 1);
  --col-hot: #e78476;
  --col-cold: #018881;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('./img/szabo-viktor-cloud.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--ff-main);
  @include flex(row);
}

.container {
  height: 90vh;
  width: 90vw;
  max-height: 800px;
  max-width: 1400px;
  color: var(--col-text);
  background: rgba(22, 20, 20, 0.6);
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(22, 20, 20, 0.9);
}

/* Header title & search starts here */

.header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  padding: 0 2rem;

  &-title {
    @include flex(row);
    gap: 0.5rem;

    &-img {
      height: var(--size-xxl);
      width: var(--size-xxl);
      color: var(--col-hot);
    }

    &-text {
      font-size: var(--size-lg);
    }
  }

  &-search-container {
    @include flex(column);
    width: 40%;

    form {
      width: 100%;
      @include flex(row);
      position: relative;

      .header-search-form-icon {
        position: absolute;
        left: 6px;
        height: 1.4rem;
        width: 1.4rem;
        color: black;
      }

      input {
        cursor: auto;
        height: var(--size-lg);
        font-size: var(--size-sm);
        width: 100%;
        padding-left: var(--size-lg);
        border: none;
        border-radius: 0.2rem;
      }

      .header-search-form-close {
        cursor: pointer;
        position: absolute;
        right: 4px;
        height: 1.4rem;
        width: 1.4rem;
        color: black;
        display: none;

        &:hover {
          color: rgba(0, 0, 0, 0.733);
        }

        &.visible {
          display: block;
        }
      }
    }
    .header-search-dropdown {
      position: relative;
      z-index: 98;
      width: 100%;

      .header-search-results {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: black;
        padding: 0;
        z-index: 99;
        width: 100%;
        border-radius: 2px;

        .search-results-elem {
          z-index: 99;
          width: 100%;
          list-style: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.295);
          padding: 0.5rem;

          &:hover {
            cursor: pointer;
            background-color: var(--col-cold);
          }
        }
      }
    }
  }
}

/* Header title & search ends here */

/* Header checkbox starts here */
/* Taken from https://uiverse.io/detail/nikk7007/smooth-fox-6
   cheers @nikk7007! */

input[type='checkbox'] {
  appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: #fff;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;

  &::before {
    content: 'C';
    text-align: center;
    display: block;
    height: 1.9em;
    width: 1.9em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em / 2 + 0.3em);
    background-color: var(--col-hot);
    border-radius: 0.2em;
    transition: 0.3s ease;
  }

  &:checked::before {
    content: 'F';
    text-align: center;
    background-color: var(--col-cold);
    left: calc(100% - (1.9em / 2 + 0.3em));
  }
}

/* Header checkbox ends here */

.weather-info {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    'summary detailed'
    'week week';
}

/* Main weather summary starts here */

.weather-today-summary {
  grid-area: summary;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;

  .summary-container {
    z-index: -1;
    height: 100%;
    width: 100%;
    @include flex(column);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 0.2rem;
    padding: 0.2rem;

    &:hover {
      background-color: rgba(43, 43, 43, 0.555);
    }

    .summary-title {
      font-size: var(--size-lg);
    }

    .summary-date {
      font-size: var(--size-sm);
    }

    .summary-weather {
      @include flex(row);

      &-img-wrapper {
        height: var(--size-massive);
        width: var(--size-massive);

        img {
          height: 100%;
          width: 100%;
        }
      }

      &-temp {
        font-size: var(--size-xxxl);
        display: flex;
        align-items: center;
        justify-content: center;

        .temp-unit {
          font-size: var(--size-lg);
          margin-bottom: 30%;
        }
      }
    }

    .summary-description {
      font-size: var(--size-md);
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

/* Main weather summary ends here */

/* Main weather details starts here */

.weather-today-detailed {
  grid-area: detailed;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;

  .today-detailed-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 0.2rem;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    &:hover {
      background-color: rgba(43, 43, 43, 0.555);
    }

    .today-detailed-card {
      @include flex(row);
      justify-content: flex-start;
      padding-left: 30%;
      gap: 1rem;

      svg {
        width: var(--size-md);
        height: var(--size-md);
      }

      .today-detailed-text {
        font-size: var(--size-sm);
      }
    }
  }
}

/* Main weather details ends here */

/* Week forecast weather details start here */

.weather-week {
  height: 100%;
  width: 100%;
  grid-area: week;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  .day-container {
    height: 100%;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 0.2rem;
    padding: 0.2rem;
    @include flex(column);

    &:hover {
      background-color: rgba(43, 43, 43, 0.5);
    }

    .day-date {
      padding: 0;
    }

    .day-weather-wrapper {
      width: 100%;
      @include flex(row);

      .day-image-wrapper {
        img {
          height: 100%;
          width: 100%;
        }
      }

      .day-temp-wrapper {
        @include flex(column);

        .day-temp-high {
          color: var(--col-hot);
        }

        .day-temp-low {
          color: var(--col-cold);
        }
      }
    }
    .day-summary {
      padding: 0;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

/* Week forecast weather details end here */

/* Media queries start here */

@media screen and (max-width: 900px) {
  body {
    height: 100%;
  }
  .container {
    height: 100vh;
    max-height: none;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .weather-week {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }

    .day-container {
      min-height: 0;
      min-width: 0;
      width: 150px;
    }
  }
}

@media screen and (max-width: 630px) {
  body {
    height: 100%;
  }

  .container {
    min-height: 100vh;
    height: 100%;
  }

  .header {
    @include flex(column);
    padding: 1rem;
    gap: 1rem;

    &-search-container {
      width: 80%;

      .header-search-form {
        width: 100%;

        input {
          padding-left: 2rem;
          height: 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .weather-today-summary {
    .summary-container {
      padding: 1rem;
    }
  }

  .weather-week {
    @include flex(column);

    .day-container {
      height: min-content;
      width: 100%;
      padding: 1rem;
    }
  }
  .weather-today-detailed {
    .today-detailed-container {
      padding: 1rem;

      .today-detailed-card {
        padding: 20%;

        svg {
          width: var(--size-lg);
          height: var(--size-lg);
        }

        .today-detailed-text {
          font-size: var(--size-md);
        }
      }
    }
  }
}
